<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
  
<suite name="League Ranking Calculator" verbose="1" >
  
  <test name="UnitTests" >
    <groups>
      <run>
        <include name="testng-unittest-utils" />
        <include name="testng-unittest-models" />        
      </run>
    </groups>
    <packages>
      <package name=".*" />
    </packages>
  </test>
   
</suite>
